<%- include('./Includes/head.ejs') %>
<%- include('./Includes/menu.ejs') %>
    
    <section class="hero">
        <h2>Welcome to Secure-It</h2>
        <p>Learn how to spot scams, avoid phishing, and stay safe online.</p>
        <a class="cta-btn" href="/learn">Start Learning</a>
    </section>
    
    <div class="container">  
        <main class="main-content"> 

            <section class="learning-section">
                <h2>Our Mission</h2>
                    
                <article class="content-card">
                    <h3>What is Secure-It?</h3>
                    <p>Your first step into the world of cyber security.</p>
                    <p>Secure-It is a learning platform designed to help everyday users understand the
                    basics of cyber threats such as phishing, and social engineering tactics.</p>
                    <p> Learn how to stay safe in the digital world</p>
                </article>

                <article class="content-card">
                    <h3>What will you learn?</h3>
                    <p> You’ll learn how common cyber attacks work, how to recognize warning signs,
                        and how to protect yourself online.</p>
                    <p>Topics include phishing emails, fake websites, social engineering tactics,
                        password safety, and simple security habits you can use immediately.</p>
                    <p>Since most attacks succeed due to human mistakes rather than technical failures,
                        learning the basics helps you avoid scams and protect your personal information.
                    </p>
                </article>
                    
                <article class="content-card">
                    <h3>Who is it for?</h3>
                    <p>Secure-It is built for beginners. No technical background or prior knowledge needed —
                        just clear explanations and real-life examples.</p>
                    <p>It’s for anyone who uses the internet: students, employees, parents,
                        business owners, social media users, and online shoppers.</p>
                    <p>If you have an email address, a phone, or a password — you need cyber awareness.</p>
                </article>
            </section>
            
        </main>
        
            <aside class="info-aside">
                <div class="aside-box">
                    <h3>Did You Know?</h3>
                    <p>Over 90% of cyber attacks start with a phishing message.</p>
                </div>
                <div class="aside-box">
                    <h3>Quick Tip</h3>
                    <p>Always enable Two-Factor Authentication (2FA) on your accounts!</p>
                </div>
            </aside>

    </div>

<%- include('./Includes/end.ejs') %>